table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

thead {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.memory_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  background-color: #ffffff;
  color: #000000;
}

.memory_table td.highlight {
  background-color: rgb(146, 146, 142);
  font-weight: bold;
  transition: background-color 0.8s ease-in-out;
}
